body {
  box-sizing: border-box;
  margin: 0;
}

.main {
  background-color: #F4F6F8;
}

.dashboard-container {
  display: flex;
}

.playground {
  width: 33%;
}

/* input {
  background-color: white !important;
} */

.graph-container {
  width: 66%;
}

.submit-btn {
  margin-left: 1em !important;
}

.playground-title {
  color: #FE688B;
}

.graph-title {
  color:#FF8E53; 
}

.graph-title,
.playground-title {
  text-align: center;
}

.MuiGrid-item {
  width: 100%;
}

.MuiBox-root-7 .MuiFormControl-fullWidth {
  margin-left: 29px;
}

.avg-load-time {
  font-family: 'Helvetica Neue';
  font-size: 12px;
  color: #666;
  text-align:center;
}

.dashboard-container {
  background-color: #f4f4f4;
}

.CodeMirror-wrap {
  height: 75vh !important;
}

.CodeMirror {
  height: 80vh !important;
}

.rt-chart {
  width: 800px;
  height: 400px;
}

.CodeMirror-wrap pre {
  word-break: break-word !important;
}

.cm-invalidchar {
  color: #a9b1abf4;
}